@model IEnumerable<Adibidea.Models.Kontaktua>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.izena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.abizena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emaila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.izenOsoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.izena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.abizena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emaila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.izenOsoa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
